name: CI (HTML validation on non-main branches)

on:
  push:
    branches-ignore:
      - "main"

jobs:
  validate:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: "20"

      - name: Install html-validate
        run: |
          npm init -y
          npm i -D html-validate

      - name: Validate index.html
        run: |
          npx html-validate index.html
